<h1>Thank you for your order! </h1>
<p>Please review your order.</p>

<% @order.order_items.each do |key, value| %>
	<ul>
		<li><%= Painting.find(key).name %> - <%= value %></li>
	</ul>
<% end %>
<p>
	<strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>