<div id="wrapper">
		<div id="columns">
			<% @paintings.each do |painting| %>
				<div class="pin center-it">


					<!-- Button trigger modal -->
					<p><a href="#" data-toggle="modal" data-target="#myModal_<%=painting.id %>">
						<%= image_tag painting.image.url(:medium) %>
					</a></p>
					<!-- Modal -->
					<div class="modal fade" id="myModal_<%= painting.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel"><%= painting.title %></h4>
					      </div>
					      <div class="modal-body">
					        <p><%= image_tag painting.image.url(:medium) %></p>
					        <p><%= number_to_currency painting.price %></p>
					        <p><%= painting.description %></p>
					        <p><%= painting.size %></p>
        					<p><%= painting.materials %></p>
					      </div>
					     


					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>


				
					<p><a href="#" data-toggle="modal" data-target="#myModal_<%=painting.id %>">
						<span class="glyphicon glyphicon-eye-open"></span></a> &nbsp &nbsp &nbsp<%= number_to_currency painting.price %>
					</p>
					
					</div>
				<% end %>


			</div>
		</div>
